<ons-navigator var="jobdetails"  animation="lift" page="jobs_detail.html"></ons-navigator>
<ons-template id="jobs_detail.html">
<ons-page>
    <div class="main">
        <ons-toolbar modifier="job_detail"> 
        <div class="right"><ons-toolbar-button><ons-icon icon="ion-arrow-right-c" ng-click="searchone.popPage();menu.setSwipeable(true);" style="color: white; font-size: 28px;" fixed-width="false"></ons-icon></ons-toolbar-button></div>
        <div  class="center"><span ng-if="searchone.topPage.data.title3">{{searchone.topPage.data.title3 | limitTo : 32}}</span ><span ng-if="!searchone.topPage.data.title3">{{place.title | limitTo : 32}}</span></div>
     </ons-toolbar>

            <!--<ks-swiper-container style="height:180px;"  override-parameters="{'effect':'slide'}">
					<ks-swiper-slide class="swiper-slide" ng-repeat="banner in place.banner">
						<img img-cache ic-src="{{logo_pic + banner}}">
					</ks-swiper-slide>
				</ks-swiper-container>
        <div style="direction:ltr">
            <ks-swiper-container slides-per-view="3" direction="horizontal">
                <ks-swiper-slide class="swiper-slide1" ng-repeat="banner in place.banner">
                     <div class="swiper-slide"><img ng-src="{{logo_pic + banner}}"></div>
                </ks-swiper-slide>
            </ks-swiper-container>
        </div>
-->
     
        
        <div class="header_jobs">
            <ons-carousel id="home_slider" style="height:220px;"  swipeable auto-scroll auto-scroll-ratio="0"  auto-refresh initial-index="{{place.banner.length}}">
                <ons-carousel-item ng-repeat="banner in place.banner" style="height:220px;">
                    <img ng-src="{{logo_pic + banner}}">
                 </ons-carousel-item>
            </ons-carousel>
        </div>
        <!--=========end logo================-->
        <div class="job_logo">
            <div ng-if="place.logo" class="logo_job_image"><img img-cache ic-src="{{logo_pic + place.logo}}"></div>
            <div class="shr_des">
                <h3 ng-if="searchone.topPage.data.title3">{{searchone.topPage.data.title3}}</h3>
                <p ng-if="searchone.topPage.data.cat" class="cat fa-bookmark">{{searchone.topPage.data.cat}}</p>
                <h3 ng-if="!searchone.topPage.data.title3">{{place.title}}</h3>
               
            </div>
            <div class="clearfix"></div>
        </div>
            <div class="clearfix"></div>
        <!--=========end main================-->
        <!-- segment control -->
        <div class="tabs">
            <div class="button-bar"  >
                <div class="button-bar__item" ng-click="change(1)">
                    <input  type="radio" name="navi-segment-a" checked>
                    <div class="button-bar__button">توضیحات</div>
                </div>
                <div class="button-bar__item"  ng-click="change(2)">
                    <input  type="radio" name="navi-segment-a" >
                    <div class="button-bar__button">محصولات</div>
                </div>
                <div class="button-bar__item" ng-click="change(3)">
                    <input  type="radio" name="navi-segment-a" >
                    <div class="button-bar__button">اطلاعات تماس</div>
                </div>
            </div>
        </div>
        <div class="tabbar">
            <div class="sub_tab p15bs" ng-show="tab === 1">
                <h4> خدمات </h4>
                <p> {{place.short_discription}} <i ng-if="!place.short_discription" class="fa fa-spinner fa-spin" aria-hidden="true"></i> </p>
                <h4> توضیحات </h4>
                <p> {{place.discription}} <i ng-if="!place.discription" class="fa fa-spinner fa-spin" aria-hidden="true"></i> </p>
            </div>
            <div class="sub_tab p15bs" ng-show="tab === 2">
                <div class="job_gallery">
                    <span  ng-repeat="product in products" ng-click="homenav.pushPage('jobs_gallery.html', {data: {id:d }})"  >
                        <img img-cache ic-src="{{ product_thumb + product.pic_name}}" >
                        <p>{{product.title}}</p>
                    </span>
                </div>
            </div>
            <div class="sub_tab " ng-show="tab === 3">
                <div class="contact_info">
                    <div class="address">
                        <p>{{place.address}}</p>
                        <a href="callto:{{place.tel}}">{{place.tel}}</a>
                    </div>
                    <div class="googlemap">
                        <a target="_blank" href="https://www.google.com/maps/dir//{{place.latitude}},+{{place.longitude}}/">
                            <img ng-src="http://maps.googleapis.com/maps/api/staticmap?key=AIzaSyAgsQ1ds-j3GBd4Yz07dHlMiiD33h1r1Jk&center={{place.latitude}},+{{place.longitude}}&zoom=16&scale=false&size=600x300&maptype=roadmap&format=jpg&visual_refresh=true&markers=size:mid%7Ccolor:0xf40b6f%7Clabel:%7C{{place.latitude}},+{{place.longitude}}" alt="Google Map of {{place.latitude}},+{{place.longitude}}">
                        </a>
                    </div>
                    <div class="social_media">
                        <div class=""></div>
                    </div>
                    <ons-list>
                       <ons-list-item ng-if="place.instagram" tappable>
                            <div class="left"><i class="fa fa-instagram" ></i></div>
                            <div class="center">{{place.instagram}}</div>
                        </ons-list-item>
                         <ons-list-item  ng-if="place.telegram" tappable>
                            <div class="left"><i class="fa fa-telegram"></i></div>
                            <div class="center">{{place.telegram}}</div>
                        </ons-list-item>
                         <ons-list-item ng-if="place.website" tappable>
                            <div class="left"><i class="fa fa-globe" ></i></div>
                            <div class="center">{{place.website}}</div>
                        </ons-list-item>
                         <ons-list-item ng-if="place.email" tappable>
                            <div class="left"><i class="fa fa-envelope-o"></i></div>
                            <div class="center">{{place.email}}</div>
                        </ons-list-item>
                    </ons-list>
                </div>

            </div>
        </div>
<!--=========end main================-->
    </div>
</ons-page>
</ons-template>
<ons-template id="jobs_gallery.html">
    <ons-page >
        <div class="close_page" id="gallery_nav">
            <ons-toolbar modifier="job_detail">
                <div class="left"><ons-toolbar-button><ons-icon icon="ion-android-share-alt" style="color: white"></ons-icon></ons-toolbar-button></div>
                <div class="right"><ons-toolbar-button><ons-icon icon="ion-android-close" ng-click="homenav.popPage();" style="color: white; font-size: 26px;" fixed-width="false"></ons-icon></ons-toolbar-button></div>
            </ons-toolbar>
        </div>
          <ks-swiper-container class="gallery_slider"  initial-slide="parseInt(homenav.topPage.data.id)-1" override-parameters="{'effect':'slide', 'zoom': 'true', 'pagination': '.swiper-pagination', 'nextButton': '.swiper-button-next', 'prevButton': '.swiper-button-prev'}">
                <ks-swiper-slide class="swiper-slide1" ng-repeat="product in products">
                    <div class="swiper-zoom-container">
                        <img img-cache ic-src="{{ product_thumb + product.pic_name}}" />
                    </div>
                    <div class="gallery_info">
                        <h4 class="name">{{product.title}}</h4>
                        <p class="desc">{{product.description}}</p>
                        <p class="cost">{{product.price}} تومان</p>
                    </div>
                </ks-swiper-slide>
            </ks-swiper-container>

    </ons-page>
</ons-template>