<ons-page>
    <ons-toolbar>
        <div class="right"><ons-toolbar-button><ons-icon icon="ion-arrow-right-c" ng-click="myNavigator.popPage()" style="color: white; font-size: 28px;" fixed-width="false"></ons-icon></ons-toolbar-button></div>
      <div class="center"> لگو کسب کار </div>
    </ons-toolbar>
    <!--========-->
    <div class="main p15bs">
        <p class="text-center">لگو ، آرم یا نشانه شغل خود را آپلود کنید .</p>
        <form class="upload_logo">
            <!--========برای حالتی که لگو نیست است ===============-->
            <label class="card" ng-click="inputopen();" ><i class="ion-android-upload" ></i><p>انتخاب فایل</p></label>
            <br>
            <!--======== برای حالتی که لگو موجود است ===============-->
            <!--<label class="card hasimage" >
                <img class="img-responsive" src="file/img/test/logo/4.jpg">
                 <div class="card-footer">
                     <a class="h6"><ons-icon class="ml5" icon="ion-shuffle"></ons-icon> تغییر تصویر</a>
                </div>
            </label>-->
            <input type="file" name="logo" class="logo" id="logo" >
        </form>
        
    </div>
    <!--========-->
</ons-page>