<ons-page>
    <ons-toolbar>
        <div class="right"><ons-toolbar-button><ons-icon icon="ion-arrow-right-c" ng-click="myNavigator.popPage();pop_cat();" style="color: white; font-size: 28px;" fixed-width="false"></ons-icon></ons-toolbar-button></div>
        <div class="center">{{ myNavigator.topPage.data.title }}</div>
    </ons-toolbar>
    <div class="main">
        <ons-list>
            <ons-list-item ng-repeat="category in subcategories" ng-click="myNavigator.pushPage('page3.html', {data: {id:2 ,cat_id: category.id ,title:category.cat}})" tappable modifier="chevron">{{category.cat}}</ons-list-item>
        </ons-list> 
    </div>
</ons-page> 